<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />
    <title>OurDev</title>
    <style>
      * {
        font-family: 'Jua', sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    </style>
  </head>
  <body>
    <header class="h-[562px] bg-[#012355]/90 px-[100px] pt-[50px] text-white">
      <div class="flex justify-between">
        <h1>
          <a class="text-[40px] font-bold" href="/test-html">OurDev</a>
        </h1>
        <div>
          <p><a class="text-[30px] font-bold" href="#">About</a></p>
        </div>
      </div>
      <div class="flex flex-col items-center pt-[120px]">
        <p class="text-[70px]" th:text="|${board.name} 게시판|">"팁 게시판"</p>
      </div>
      <div class="flex justify-center mt-[100px]">
        <div
          class="flex justify-center items-center bg-white w-[170px] h-[50px] rounded-xl hover:bg-black"
        >
          <a
            class="text-[30px] text-[#012355]/90 hover:text-white"
            href="tip-board_post.html"
            >New Post</a
          >
        </div>
      </div>
    </header>
    <main class="flex justify-between px-[200px] mt-[80px]">
      <div class="flex flex-col w-11/12">
        <div
          class="flex justify-between w-[100%] h-[80px] rounded-2xl text-[25px] text-center"
        >
          <p class="w-[5%]">번호</p>
          <p class="w-[75%]">제목</p>
          <p class="w-[10%]">작성자</p>
        </div>
        <div class="flex flex-col w-[100%]">
          <a
            class="flex justify-between items-center w-[100%] h-[80px] mb-[20px] border-2 border-solid border-black rounded-2xl text-[25px] text-center"
            href="tip-board_detail.html"
          >
            <p class="w-[5%]">2</p>
            <p class="w-[75%]">Spring Data Jpa 사용법</p>
            <p class="w-[10%]">Kim</p>
          </a>
          <a
            class="flex justify-between items-center w-[100%] h-[80px] mb-[20px] border-2 border-solid border-black rounded-2xl text-[25px] text-center"
            href="tip-board_detail.html"
          >
            <p class="w-[5%]">1</p>
            <p class="w-[75%]">Spring Data Jpa 사용법</p>
            <p class="w-[10%]">Kim</p>
          </a>
        </div>
      </div>
    </main>
    <script></script>
  </body>
</html>
