<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: 'Jua', sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    </style>
    <title>OurDev</title>
  </head>
  <body>
    <header class="h-[562px] bg-[#012355]/90 px-[100px] pt-[50px] text-white">
      <div class="flex justify-between">
        <h1>
          <a class="text-[40px] font-bold" href="/test-html">OurDev</a>
        </h1>
        <div>
          <p><a class="text-[30px] font-bold" href="#">About</a></p>
        </div>
      </div>
      <div class="flex flex-col items-center pt-[120px]">
        <p class="text-[70px]">"지금 여기, 개발자들의 이야기가 펼쳐집니다"</p>
        <p class="text-[30px]">개발자들의 열정과 기술이 만나는 곳</p>
      </div>
      <div class="flex justify-center mt-[100px]">
        <div
          class="flex justify-center items-center bg-white w-[170px] h-[50px] rounded-xl hover:bg-black"
        >
          <a
            class="text-[30px] text-[#012355]/90 hover:text-white"
            href="index_post.html"
            >New Board</a
          >
        </div>
      </div>
    </header>
    <main class="flex justify-center px-[200px] mt-[80px]">
      <div class="flex flex-wrap justify-between w-11/12">
        <a
            class="flex items-center justify-between w-[505px] h-[700px] mb-[70px] py-[50px] border-2 border-solid border-black rounded-2xl cursor-pointer"
            th:each="board : ${boards}"
            th:href="@{/board/{id}(id=${board.id})}"
        >
          <p class="block w-[100%] text-center text-[50px]" th:text="|${board.name} 게시판|" />
        </a>
      </div>
    </main>
    <script></script>
  </body>
</html>
